/* HTML for Metropolis 2127
   a Simulation/City builder/Dystopian Adventure Game
   by Frank Vonk, visit www.frankvonk.be/metropolis2127.html */

html {
  background-color: #0d0221;
}



/*▓▓▓▓▓▓        ▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓
  ▓▓▓▓▓▓▓▓    ▓▓▓▓▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓
  ▓▓▓▓ ▓▓▓▓  ▓▓▓▓ ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓            ▓▓▓▓          ▓▓▓▓
  ▓▓▓▓  ▓▓▓▓▓▓▓▓  ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓
  ▓▓▓▓   ▓▓▓▓▓▓   ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓
  ▓▓▓▓    ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓
  ▓▓▓▓            ▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓    ▓▓▓▓    ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓ */

body {
  padding: 0px;
  margin: 0 auto;
  background-color: #241734;
  font-family: 'Telex', sans-serif;
  font-size: 16px;
  color: aqua;
  /* height: fit-content; */
  /* display: grid; */
  position: relative;
}

p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

/* .wrapper {} */

/* HEADER */
.timeZone { grid-area: timeZone; }
.zoomButtons { grid-area: zoomBtns;}
.gateStateData { grid-area: gateStateData; }
.messagesSection { grid-area: messages; }
.gameTitle { grid-area: gameTitle; }
header {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 70px;
  width: calc(100% - 10px);
  padding: 0;
  /* border: 1px solid grey; */
  /* border: 1px solid transparent; */
  margin: 5px;
  display: grid;
  grid-template-areas:
  'timeZone zoomBtns gateStateData messages gameTitle'
  'timeZone zoomBtns gateStateData messages gameTitle';
  background-color: transparent;
  /* background-color: #541388; */
  /* min-width: 99vw; */
  font-size: 14px;
  color: white;
}

/* TIME ZONE*/
.sectiontimeZone {  
}
.timeZone {
  height: 70px;
  width: 155px;
  /* font-size: 14px; */
  padding: 2px 3px 0 3px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.timeButtons {
}
.timeZone td {
  width: 1px;
}
.unicodeMagnifier {
  position: fixed;
  top: 11px;
  left: 85px;
  min-width: 20px;
  /* background: red; */
}
.timeBtn {
  min-width: 21px;
  height: 20px;
  border: 1px solid white;
  font-weight: bold;
  padding: 0;
  font-size: 14px;
}
.pauzeBtn {
  position: fixed;
  top: 12px;
  left: 18px;
}
#playBtn {
  background: rgba(0,0,0,0.5);
}
.playBtn {
  position: fixed;
  top: 13px;
  left: 44px;
}
#fasterBtn {
  /* max-width: 0px; */
}
.fasterBtn {
  position: fixed;
  top: 13px;
  left: 64px;
}
.dateTime {
  position: relative;
  top: 2px;
  display: flex;
}
/* END TIME ZONE*/


/* ZOOM LEVELS */
#zoomMin, #zoomMax {
  border: 1px solid white;
  font-weight: bold;
  font-size: 26px;
  color: white;
  min-width: 18px;
}
#zoomMin {
  background: rgba(0,0,0,0.5);
}
.zoomMin {
  position: fixed;
  left: 114px;
  top: 4px;
}
#zoomMax {
}
.zoomMax {
  position: fixed;
  left: 136px;
  top: 6px;
}
/* END ZOOM LEVELS */


/* GAME STATE DATA */
.gateStateData {
  /* border: 1px solid #f6019d; */
  background-color: #541388;
  background: hotpink;
  background: rgba(0, 0, 0, 0.4);
  min-width: 28vw;
  /* max-width: 400px; */
  padding: 0em 0 0 0.1em;
  border: 1px solid black;
  margin: 0 5px 0 5px;
}
.gateStateData p {
  padding: 0.0em 0 0 0;
  margin: 0;
  /* left: 0; */
}
/* END GAME STATE DATA */

/* MESSAGES */
.messagesSection {
  min-width: 28vw;
  /* border: 1px solid black; */
  margin: 0 4px 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* opacity: 0.3; */
  border: 1px solid black;
  /* outline: 1px solid black; */

}
.messagesSection p {
  padding: 4px 0 0 2px;
}
#messages {
  /* width: 100px; */
  padding: 0;
  margin: 0 0 0 0;
  /* font-size: 0.5em; */
  font-size: 1em;
  color: white;
  /* text-shadow: 2px 2px 8px white; */
}
/* END MESSAGES */

.gameTitle {
  color: #d40078;
  padding: 10px 0;
  margin: 0px;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  min-width: 15vw;
  background: green;
  background: none;
}
/* END HEADER */


/* BUTTONS */
.btn {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  outline: none;
  font-weight: bold;
  min-width: fit-content;
  padding: 0 2px;
  margin: 0;
  font-size: 16px;
  color: white;
  /* color: red; */
  /* z-index: 3; */
}
.btn:hover {
  /* color: grey;
  background: silver; */
}
.buildButtons {
  display: grid;
  position: fixed;
  top: 81px;
  left: 5px;
  width: fit-content;
  min-width: 120px;
  margin: 0 0 0 0;
  /* z-index: 3; */
}
.btnBuild, .btnTools {
  border-right: '3px solid hotpink';
  display: none;
  /* z-index: 3; */
}
.dataButtons {
  position: fixed;
  top: 81px;
  left: 133px;
  min-width: fit-content;
  display: grid;
  margin: 0 0 0 0;
}


.hover {
  background: red;
}
.nothover {
  color: red;
}
/* END BUTTONS */








/* PARENT OF ALL CANVASSES */
#eCanvasHTMLSection {
  /* display: none; */
  /* position: absolute; */
  
  
  /* overflow: auto; */
  /* transform: rotateZ(45deg); */
  /* transform: rotateZ(180deg); */
  /* transform: rotateZ(270deg); */
  /* transform: rotateZ(360deg); */
  /* transform: rotateZ(0deg);  */
  /* z-index: 0; */
}
canvas {
  image-rendering: pixelated;
  /* image-rendering: crisp-edges; */
}
/* END CANVAS */

#canvasGroundLevel {
  position: absolute;
  top: 0px;
  left: 0px;
}

#canvasPedestrianLevel {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1000px;
  width: 1000px;
  /* z-index: 3; */
}

#canvasHovercraft {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1000px;
  width: 1000px;
  /* background: transparent; */
  /* outline: 1px solid green; */
}


/* gridOverlay */
#gridOverlay {
  display: inline-block;
  /* transform: rotateZ(45deg) ; */
  position: absolute;
  top: 0px;
  left: 0px;
  /* display: inherit; */
  /* height: 1200px;
  width: 1200px; */
  height: 1000px;
  width: 1000px;
  /* outline: 0.1px solid red; */
  /* background: transparent; */
   /* background: green; */
  /* opacity: 0.5; */
  /* z-index: -2; */
}
.row {
  /* float: left; */
  /* background: green; */
}
.cell {
  float: left;
  background: rgba(200, 200, 200, 0.001) ;
  height: 100px;
  width: 100px;
  /* outline: 1px solid pink; */
}
/* .cell:hover {  background: pink;   }  */

/* End gridOverlay */




/* Start BuildOptionsModal */
.buildOptionsModal {
  position: fixed;
  top: 81px;
  left: 133px;
  visibility: hidden;
  border: 1px solid black;
}
.buildOptionsTitle {
  /* padding: 1px 0 1px 1px; */
  /* margin: -0px; */
  /* position: relative; */
  /* top: -0.2px; */
  /* left: -0.4px; */
  background: grey;
  color: white;
  border-bottom: 1px solid black;
}
.buildOptionsContainer {
  background: green;
  min-height: 210px;
  padding: 0em 0.5em 0 0.5em;
  margin: 0 0 0 0;
  /* min-height: 20vh; */
  background-color: rgba(0, 0, 0, 0.4);
  /* min-width: 302px; */
}
.buildOptionTile {
  float: left;
  min-width: 130px;
  max-width: 130px;
  margin: 0.5em;
  background: blue;
  background-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}
.buildOptionTile caption {
  color: white;
  /* text-shadow: #0d0221 1px 1px; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.exampleImage {
  padding: 0.2em 0 0 0;
  text-align: center;
  /* background: green; */
  /* min-width: 110px;
  max-width: 110px; */
}
.CanvasExample {
  /* background: pink; */
}
.buildOptionText {
  color: black;
  color: white;
  font-size: 0.8em;
}


.buildOptionNotPossible {
  color: red;
  border: 10px solid pink;
}

/* End BuildOptionsModal */










































































































/*▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓          ▓▓▓▓              ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓          ▓▓▓▓              ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓      ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓          ▓▓▓▓              ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓          ▓▓▓▓              ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓      ▓▓▓▓ */


@media screen and (min-width: 824px) {

  html {
    background-color: cornflowerblue;
  }
  

  body {
    background-color: #241734;
    /* height: 100vh; */
    background-color: pink;
  }


/*
  p {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
  }
 */ 
  /* .wrapper {} */
  
  /* HEADER */
  /*
  header {
    position: fixed;
    z-index: 1;
    height: 69px;
    width: 99vw;
    max-width: 1393px;
    margin: 5px;
    border: 3px solid #f6019d;
  
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #541388;
  }
  */
  /* MESSAGES */
  
  .messagesSection {
    /* position: absolute; */
    /* top: 581px; */
    /* left: 150px; */
    /* width: 170px; */
    /* margin: 0 0 0 0.3em; */
  }
  /*
  .messagesSection p {
    padding: 0 0 0 0;
  }
  #messages {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 0.5em;
  }
  */
  /* END MESSAGES */
  
  h1 {
    /* color: #d40078;
    padding: 10px 0;
    margin: 0px;
    font-size: 2em;
    text-align: center;
    font-style: italic; */
  }
  /* END HEADER */
  
  
  /* BUTTONS */
  .buttons {
    /* position: fixed;
    top: 85px;
    left: 5px;
    z-index: 1;
    width: 75px;
    margin: 0px 0 0 0;
    height: 200px; */
  }
  button {
    /* background-color: aqua;
    border-color:  #f6019d;
    outline: none;
    font-weight: bold;
    width: 100%;
    padding: 3px;
    margin: 0;
    color: #541388; */
  }
  #zoomMax, #inspect {
    /* margin-top: 1em; */
  }
  #zoomMed {
    /* color: aqua;
    background-color: hotpink; */
  }
  .btnBuild {
    /* border-right: '3px solid hotpink'; */
  }
  .buildOptions {
    /* width: 110px; */
    /* display: flexbox; */
    /* height: 97px; */
    /* position: fixed;
    top: 85px;
    left: 80px;
    margin-right: 3px;
    background-color: #541388;
    border: 2px solid #f6019d;
    border-left: none; */
    /* display: none; */
  }
  
  .hover {
    /* background: red; */
  }
  .nothover {
    /* color: red; */
  }
  
  
  canvas {
    /* position: absolute;
    top: 85px;
    left: 198px;
    border: 3px solid #f6019d;
    image-rendering: pixelated; */
    /* image-rendering: crisp-edges; */
  }
  
  
  /* DATA ELEMENT*/
  .data {
    /* position: absolute;
    top: 460px;
    height: 240px;
    border: 2px solid #f6019d;
    width: 169px;
    background-color: #541388; */
  }
  /* GAME STATE DATA */
  .game-data {
    /* background-color: antiquewhite; */
    /* position: absolute; */
    /* height: 100px; */
    /* width: 130px; */
    /* top: 581px; */
    /* float: left;
    padding: 0.2em 0 0 0.3em; */
  }
  .game-data p {
    /* padding: 0.1em 0 0 0;
    margin: 0;
    left: 0; */
  }
  /* END GAME STATE DATA */

}
