/* HTML for Metropolis 2127
   a Simulation/City builder/Dystopian Adventure Game
   by Frank Vonk, visit www.frankvonk.be/metropolis2127.html */

html {
  background-color: #0d0221;
}



/*▓▓▓▓▓▓        ▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓
  ▓▓▓▓▓▓▓▓    ▓▓▓▓▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓
  ▓▓▓▓ ▓▓▓▓  ▓▓▓▓ ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓            ▓▓▓▓          ▓▓▓▓
  ▓▓▓▓  ▓▓▓▓▓▓▓▓  ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓
  ▓▓▓▓   ▓▓▓▓▓▓   ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓
  ▓▓▓▓    ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓    ▓▓▓▓    ▓▓▓▓          ▓▓▓▓
  ▓▓▓▓            ▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓    ▓▓▓▓    ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓ */

body {
  padding: 0px;
  margin: 0 auto;
  background-color: #241734;
  font-family: 'Telex', sans-serif;
  font-size: 16px;
  color: aqua;
}

p {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

/* .wrapper {} */

/* HEADER */
.timeZone { grid-area: timeZone; }
.zoomButtons { grid-area: zoomBtns;}
.gateStateData { grid-area: gateStateData; }
.messagesSection { grid-area: messages; }
.gameTitle { grid-area: gameTitle; }
header {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
  width: calc(100% - 2px);
  padding: 0;
  border: 1px solid #f6019d;
  border: 1px solid transparent;
  margin: 0px;
  display: grid;
  grid-template-areas:
  'timeZone zoomBtns gateStateData messages gameTitle'
  'timeZone zoomBtns gateStateData messages gameTitle';
  background-color: #541388;
  background-color: transparent;
}

/* TIME ZONE*/
.timeZone {
  width: 59px;
  font-size: 9px;
  background: hotpink;
}
.timeZone td {
  width: 13px;
  height: 12px;
}
.timeBtn {
  padding: 0 0;
  border: 2px solid #f6019d;
  font-size: 12px;
}
.pauzeBtn {
  position: absolute;
  top: 0px;
  left: 5px;
}
.playBtn {
  position: absolute;
  top: 0.5px;
  left: 24px;
}
.fasterBtn1 {
  position: absolute;
  top: 0.5px;
  left: 40.5px;
}
.fasterBtn2 {
  position: absolute;
  left: 3.5px;
}
#pauzeBtn, #fasterBtn {
  color: aqua;
  background-color: hotpink;
}
#playBtn {
  color: #541388;
  background-color: aqua;
}
.dateTime {
}
/* END TIME ZONE*/


/* ZOOM LEVELS */
.zoomButtons {
  width: 107px;
  height: 20px;
  background: #541388;
  background-color: hotpink;
  font-size: 10px;
}
#zoomMin, #zoomMed, #zoomMax {
  width: 20px;
  padding: 0 2px;
  border: 2px solid #f6019d;
}
#zoomMin, #zoomMax {
  color: aqua;
  background-color: hotpink;
}
#zoomMed {
  color: #541388;
  background-color: aqua;
}
/* END ZOOM LEVELS */


/* GAME STATE DATA */
.gateStateData {
  /* border: 1px solid #f6019d; */
  background-color: #541388;
  background: hotpink;
  width: 80px;
  padding: 0.2em 0 0 0.3em;
}
.gateStateData p {
  padding: 0.1em 0 0 0;
  margin: 0;
  left: 0;
}
/* END GAME STATE DATA */


/* MESSAGES */
.messagesSection {
  width: 150px;
  /* border: 1px solid black; */
  margin: 0 0 0 0em;
  background-color: hotpink;
}
.messagesSection p {
  padding: 4px 0 0 2px;
}
#messages {
  /* width: 100px; */
  padding: 0;
  margin: 0 0 0 0;
  font-size: 0.5em;
}
/* END MESSAGES */

.gameTitle {
  color: #d40078;
  padding: 10px 0;
  margin: 0px;
  font-size: 14px;
  text-align: center;
  font-style: italic;
}
/* END HEADER */


/* BUTTONS */
button {
  background-color: hotpink;
  border-color:  #f6019d;
  outline: none;
  font-weight: bold;
  width: 100%;
  margin: 0;
  font-size: 10px;
  color: #541388;
  color: aqua;
  /* z-index: 3; */
}
.buildButtons {
  position: fixed;
  top: 55px;
  left: 5px;
  width: 75px;
  margin: 0 0 0 0;
  /* z-index: 3; */
}
.btnBuild, .btnTools {
  border-right: '3px solid hotpink';
  display: none;
  /* z-index: 3; */
}
/* Menu to specify building structure */
.buildOptions {
  width: 110px;
  display: none;
  position: fixed;
  top: 85px;
  left: 80px;
  margin-right: 3px;
  background-color: #541388;
  border: 2px solid #f6019d;
  border-left: none;
  /* z-index: 3; */
}
.dataButtons {
  position: fixed;
  top: 55px;
  left: 150px;
  width: 75px;
  margin: 0 0 0 0;
}





.hover {
  background: red;
}
.nothover {
  color: red;
}
/* END BUTTONS */







/* CANVAS */
#eCanvasHTMLSection {
  /* display: none; */
  position: relative;
  /* top: 350px;*/
  top: 80px;
  left: 80px;
  left: -80px; /*
  overflow: auto;
  /* transform: rotateZ(90deg);
  transform: rotateZ(180deg);
  transform: rotateZ(270deg);
  transform: rotateZ(360deg);
  transform: rotateZ(0deg); */
  /* z-index: 0; */
}
canvas {
  image-rendering: pixelated;
  /* z-index: -1; */
  /* image-rendering: crisp-edges; */
}
/* END CANVAS */

/* gridOverlay */
.row {

  /* float: left; */
  /* background: green; */
}
.cell {
  float: left;

  background: rgba(200, 200, 200, 0.001) ;
  height: 100px;
  width: 100px;
  /* outline: 1px solid pink; */
}
.cell:hover {
  /* background: pink; */
} 

#gridOverlay {
  display: inline-block;
  /* transform: rotateZ(45deg) ; */
  position: absolute;
  top: 1px;
  left: 1px;
  /* height: 1150px; */
  /* width: 1100px; */
  outline: 0.1px solid red;
  background: transparent;
  /* z-index: -2; */
}

/* End gridOverlay */












/*▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓          ▓▓▓▓              ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓          ▓▓▓▓              ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓      ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓          ▓▓▓▓              ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓    ▓▓▓▓  ▓▓▓▓          ▓▓▓▓              ▓▓▓▓
      ▓▓▓▓      ▓▓▓▓    ▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓▓▓▓▓▓      ▓▓▓▓ */

@media screen and (min-width: 824px) {

/*
  body {
    background-color: #241734;
    height: 100vh;
    background-color: pink;
  }
*/

/*
  p {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
  }
 */ 
  /* .wrapper {} */
  
  /* HEADER */
  /*
  header {
    position: fixed;
    z-index: 1;
    height: 69px;
    width: 99vw;
    max-width: 1393px;
    margin: 5px;
    border: 3px solid #f6019d;
  
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #541388;
  }
  */
  /* MESSAGES */
  
  .messagesSection {
    /* position: absolute; */
    /* top: 581px; */
    /* left: 150px; */
    /* width: 170px; */
    /* margin: 0 0 0 0.3em; */
  }
  /*
  .messagesSection p {
    padding: 0 0 0 0;
  }
  #messages {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 0.5em;
  }
  */
  /* END MESSAGES */
  
  h1 {
    /* color: #d40078;
    padding: 10px 0;
    margin: 0px;
    font-size: 2em;
    text-align: center;
    font-style: italic; */
  }
  /* END HEADER */
  
  
  /* BUTTONS */
  .buttons {
    /* position: fixed;
    top: 85px;
    left: 5px;
    z-index: 1;
    width: 75px;
    margin: 0px 0 0 0;
    height: 200px; */
  }
  button {
    /* background-color: aqua;
    border-color:  #f6019d;
    outline: none;
    font-weight: bold;
    width: 100%;
    padding: 3px;
    margin: 0;
    color: #541388; */
  }
  #zoomMax, #inspect {
    /* margin-top: 1em; */
  }
  #zoomMed {
    /* color: aqua;
    background-color: hotpink; */
  }
  .btnBuild {
    /* border-right: '3px solid hotpink'; */
  }
  .buildOptions {
    /* width: 110px; */
    /* display: flexbox; */
    /* height: 97px; */
    /* position: fixed;
    top: 85px;
    left: 80px;
    margin-right: 3px;
    background-color: #541388;
    border: 2px solid #f6019d;
    border-left: none; */
    /* display: none; */
  }
  
  .hover {
    /* background: red; */
  }
  .nothover {
    /* color: red; */
  }
  
  
  canvas {
    /* position: absolute;
    top: 85px;
    left: 198px;
    border: 3px solid #f6019d;
    image-rendering: pixelated; */
    /* image-rendering: crisp-edges; */
  }
  
  
  /* DATA ELEMENT*/
  .data {
    /* position: absolute;
    top: 460px;
    height: 240px;
    border: 2px solid #f6019d;
    width: 169px;
    background-color: #541388; */
  }
  /* GAME STATE DATA */
  .game-data {
    /* background-color: antiquewhite; */
    /* position: absolute; */
    /* height: 100px; */
    /* width: 130px; */
    /* top: 581px; */
    /* float: left;
    padding: 0.2em 0 0 0.3em; */
  }
  .game-data p {
    /* padding: 0.1em 0 0 0;
    margin: 0;
    left: 0; */
  }
  /* END GAME STATE DATA */

}